# This is a basic workflow to help you get started with Actions

name: banking

on:

  push:
    branches: master
    
  workflow_dispatch:


jobs:
  build_lib:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: build_lib 
        run: |
          cd lab-05/banking
          cmake -H. -B_build
          cd _build
          cmake --build .
  Test_banking:
    runs-on: ubuntu-latest
    
    steps: 
      - uses: actions/checkout@v3
      - name: preparing 
        run: |
              sudo apt install git && git submodule update --init
              sudo apt install lcov
              sudo apt install g++-7 
      - name: Test
        run: | 
          cd lab-05
          mkdir _build && cd _build
          CXX=/usr/bin/g++-7 cmake -DCOVERAGE=1 ..
          cmake --build .
          ./testing
          lcov -t "banking" -o lcov.info -c -d .
          
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel: true
          path-to-lcov: ./_build/lcov.info
          coveralls-endpoint: https://coveralls.io

      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
      
